.detalhesEvento {
	background-color: white;
	margin-top: 20px;
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formConvidado {
	background-color: white;
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaConvidado {
	width: 50%;
}

.formEvento {
	background-color: white;
	margin-top: 20px;
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.mensagemDeValidacao {
	text-align: center;
}

.menu {
	background-color: #8645ff;
}

.estiloBotao {
	background-color: #00cc7a;
}

body {
	background-color: #f0f0f0;
}

.tabelaPaginaInicial {
	background-color: white;
	margin-top: 20px;
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 50px;
}

.tabelaLogin {
	margin: auto;
	height: 350px;
	width: 30%;
	background-color: white;
	box-shadow: 0px 0px 5px grey;
	padding: 30px;
}

.tituloNav {
	margin-left: 15px;
	font-weight: bold;
}