<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   	<!--Import materialize.css-->
   	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

   	<!--Let browser know website is optimized for mobile-->
   	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Pagina Inicial</title>
	<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
	  <nav class="menu">
	    <div class="nav-wrapper">
	      <a href="." class="brand-logo tituloNav">APPEVENTOS</a>
	      
	    </div>
	  </nav>
	</header>
	<div class="tabelaPaginaInicial">
		<h5>Site para testes usando Spring Boot</h5>
		<p>Selecione uma das funcionalidades:</p>
		<a href="/cadastrarEvento" class="estiloBotao btn"><i class="material-icons left">add</i>Cadastrar evento</a>    
		<a href="/eventos" class="estiloBotao btn"><i class="material-icons left">list</i>Listar Eventos</a>
	</div>
</body>
</html>