<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   	<!--Import materialize.css-->
   	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

   	<!--Let browser know website is optimized for mobile-->
   	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Pagina Inicial</title>
	<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
	  <nav class="menu">
	    <div class="nav-wrapper">
	      <a href="." class="brand-logo tituloNav">APPEVENTOS</a>
	      
	      <!-- botao de logout so aparecera se usuario estiver logado -->
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="botaoLogout"><i class="material-icons left">logout</i>Sair</a></li>
	      </ul>
	    
	    </div>
	  </nav>
	</header>
	
	<p class="infoUsuario" sec:authorize="isAuthenticated()">Usuario atual: <span sec:authentication="name"></span></p>
	
	<div class="tabelaPaginaInicial">
		<h5>Site para cadastro de eventos usando Spring e Thymeleaf.</h5>
		<p>Selecione uma das funcionalidades:</p>
		<a href="/cadastrar-novo-evento" class="estiloBotao btn"><i class="material-icons left">add</i>Cadastrar evento</a>    
		<a href="/lista-de-eventos" class="estiloBotao btn"><i class="material-icons left">list</i>Listar Eventos</a>
		<a href="/cadastrar-novo-usuario" class="estiloBotao btn"><i class="material-icons left">add</i>Cadastrar usuario</a>
	</div>
</body>
</html>