<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   	<!--Import materialize.css-->
   	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

   	<!--Let browser know website is optimized for mobile-->
   	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Pagina Inicial</title>
	<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
	  <nav class="menu">
	    <div class="nav-wrapper">
	      <a href="." class="brand-logo tituloNav">APPEVENTOS</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/cadastrarEvento" class="estiloBotao btn"><i class="material-icons left">add</i>Cadastrar evento</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>
	<p>A pagina principal sera melhorada futuramente...</p>
</body>
</html>