<!DOCTYPE html>
<html 	xlmns:th="http://thymeleaf.org"
		xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--Import Google Icon Font-->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   	<!--Import materialize.css-->
   	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

   	<!--Let browser know website is optimized for mobile-->
   	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Detalhes do Evento</title>
	<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
	  <nav class="menu">
	    <div class="nav-wrapper">
	      <a href="." class="brand-logo tituloNav">Detalhes do Evento</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/lista-de-eventos" class="btn estiloBotao"><i class="material-icons left">list</i>Lista de eventos</a></li>
	     	<li><a th:href="@{/logout}" class="estiloBotao btn"><i class="material-icons left">logout</i>Sair</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>

	<div th:each="evento : ${evento}" class="container detalhesEvento">
		<h5>Detalhes do Evento</h5>
		<div class="row">
			<p>Nome: <span th:text="${evento.nome}"></span></p>
			<p>Local: <span th:text="${evento.local}"></span></p>
			<p>Data: <span th:text="${evento.data}"></span></p>
			<p>Horario: <span th:text="${evento.horario}"></span></p>
		</div>
		
	</div>
		
	<!-- mensagem, tanto de erro quanto sucesso na hora de validar o candidato -->
	<th:block th:include="mensagemValidacao"></th:block>
	
	<div class="container formConvidado">
		<form method="post">
			<p>Dados do convidado</p>
			CPF<input type="text" value="" name="cpfConvidado"/>
			Nome<input type="text" value="" name="nomeConvidado"/>
			<button class="btn estiloBotao" type="submit">Enviar</button>
		</form>
	</div>
	
	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Deletar</th>
			</tr>	
		</thead>
		<tbody>
			<tr th:each="convidado: ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.cpfConvidado}"></span></td>
				<td><a class="estiloBotao btn-small" th:href="${(#mvc.url('CC#deletarConvidado').arg(0, convidado.codigoConvidado)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>
	
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>